@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.background-main {
  position: relative;
  background-image: url(./assets/beachBg.jpg);
  background-size: cover;
  background-position: center;
  height: 100%;
  color: white; /* Asegura contraste */
  z-index: 0;
}

.background-main::before {
  content: "";
  position: absolute;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Oscurece el fondo */
  z-index: -1; /* Se queda detrás del contenido */
}